<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Latte</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">This latte will rock your world! It's without a doubt one of my favourite warm drinks, 
                            because it's super quick and easy to make, and the sweet, creamy, caramel flavour is unlike anything else. 
                            Give it a go - you won't be disappointed.</p>
                    </div>
                </div>
            </li>
            <!-- <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Biryani</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Biryani is a mixed rice dish. It is made with Indian spices, rice, and
                            meat usually that of chicken, fish, and sometimes, in addition, eggs or vegetables such as
                            potatoes in certain regional varieties.</p>
                    </div>
                </div>
            </li> -->
            <!-- <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Pasta</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Pasta is a type of food typically made from an unleavened dough of wheat
                            flour mixed with water or eggs, and formed into sheets or other shapes, then cooked by
                            boiling or baking.</p>
                    </div>
                </div>
            </li> -->
            <li class="timeline-inverted">
               <a href="../../assets/img/4.jpg" target="_blank">
                   <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Chocolate cake</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Chocolate cake is a cake made with chocolate or cocoa. The ingredients are put into a bowl and mixed together; 
                            then the mixed ingredients are put into a cake tin and put in an oven until it is fully cooked. 
                            Then the cake is taken out of the oven and placed on a cooling stand.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Cafe!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>